/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  margin: 6.1333333333vw 6.4vw;
  height: 12.8vw;

  @media only screen and (min-width: $tablet) {
    margin: 5.2083333333vw 5.2083333333vw 8.0729166667vw;
    height: 7.5520833333vw;
  }

  @media only screen and (min-width: $desktop) {
    margin: 3.8194444444vw 11.4583333333vw 5.7638888889vw;
    height: 4.0277777778vw;
  }

  &__logo {
    width: 10.6666666667vw;
    height: 10.6666666667vw;

    @media only screen and (min-width: $tablet) {
      width: 5.2083333333vw;
      height: 5.2083333333vw;
    }

    @media only screen and (min-width: $desktop) {
      width: 2.7777777778vw;
      height: 2.7777777778vw;
    }
  }

  &__preorder-button {
    text-decoration: none;
    color: $dark-blue;
    background-color: $gray;
    border-radius: 8px;
    padding: 15px 3.7333333333vw;
    font-size: 4.2666666667vw;
    font-weight: 700;
    transition: 0.3s ease-in;

    @media only screen and (min-width: $tablet) {
      font-size: 2.0833333333vw;
      line-height: 3.3854166667vw;
      padding: 2.0833333333vw 3.3854166667vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.1111111111vw;
      line-height: 1.8055555556vw;
      padding: 1.1111111111vw 1.8055555556vw;
    }
  }
  
  &__preorder-button:hover {
    background-color: $dark-blue ;
    color: $white;
  }

}

/*----------------------------
      tm section 
----------------------------*/
.tm {
  &__content-container-one {

    @media only screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: 50% auto;
      gap: 7.9427083333vw;
    }

    @media only screen and (min-width: $desktop) {
      grid-template-columns: 45% auto;
      margin: 0 11.4583333333vw 0;
      gap: 4.8611111111vw;
      position: relative;
    }
  }

  @media only screen and (min-width: $desktop) {
    &__content-container-one::after {
      content: "";
      position: absolute;
      top: 0;
      height: 50%;
      right: -19.7916666667vw;
      width: 17.7083333333vw;
      background-color: $gray;
      border-radius: 20px;
    }
  }

  &__info {
    margin: 0 6.4vw;

    @media only screen and (min-width: $tablet) {
      margin: 7.8125vw 0 0 5.078125vw;
    }

    @media only screen and (min-width: $desktop) {
      margin: 4.1666666667vw 0;
    }
  }

  &__heading {
    font-size: 12.8vw;
    line-height: 12.8vw;
    margin: 17.0666666667vw 0 8.5333333333vw;

    @media only screen and (min-width: $tablet) {
      font-size: 6.25vw;
      line-height: 6.25vw;
      margin: 0 0 4.4270833333vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 3.8888888889vw;
      line-height: 3.8888888889vw;
      margin: 0 0 1.6666666667vw;
    }
  }

  &__paragraph {
    margin: 0 0 8.5333333333vw;

    @media only screen and (min-width: $tablet) {
      margin: 0 0 39px;
    }
  }

  &__preorder-container {
    display: flex;
    align-items: center;
    gap: 8.5333333333vw;

    @media only screen and (min-width: $tablet) {
      gap: 4.8177083333vw;
    }

    @media only screen and (min-width: $desktop) {
      gap: 2.5694444444vw;
    }
  }
  &__preorder-button {
    background-color: $orange;
    color: $white;

    @media only screen and (min-width: $tablet) {
      padding: 1.953125vw 3.3854166667vw;
      font-size: 2.0833333333vw;
    }

    @media only screen and (min-width: $desktop) {
      padding: 1.0416666667vw 1.8055555556vw;
      font-size: 1.1111111111vw;
    }
  }

  &__preorder-button:hover {
    background-color: $light-orange;
  }

  &__release-date {
    font-size: 4.2666666667vw;
    line-height: 6.9333333333vw;
    font-weight: 700;
    color: $dark-gray;

    @media only screen and (min-width: $tablet) {
      font-size: 2.0833333333vw;
      line-height: 3.3854166667vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.1111111111vw;
      line-height: 1.8055555556vw;
    }
  }

  &__image-container {
    margin: 17.0666666667vw 0 0 6.4vw;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }
  }

  @media only screen and (min-width: $tablet) {
    &__img {
      height: 55.3385416667vw;
      max-width: unset;
      transform: translateX(3.90625vw);
    }

    @media only screen and (min-width: $desktop) {
      &__img {
        height: 33.3333333333vw;
        transform: unset;
      }
    }
  }

  &__keyboard-image {
    border-radius: 20px 0 0 20px;

    @media only screen and (min-width: $desktop) {
      border-radius: 20px;
    }
  }

  &__content-container-two {
    @media only screen and (min-width: $tablet) {
      margin: 5.2083333333vw 5.2083333333vw 18.4895833333vw;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;
      gap: 8.6805555556vw;
      margin: 2.0833333333vw 11.4583333333vw 11.6666666667vw;
      position: relative;
    }
  }

  @media only screen and (min-width: $desktop) {
    &__content-container-two::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 50%;
      left: -19.7916666667vw;
      width: 17.7083333333vw;
      background-color: $gray;
      border-radius: 20px;
    }
  }

  &__image-container-two {
    display: grid;
    grid-template-columns: 34.5% auto;
    gap: 6.4vw;
    margin: 6.4vw 6.4vw 20vw 0;

    @media only screen and (min-width: $tablet) {
      grid-template-columns: 30.2% auto;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      grid-template-columns: 17.7083333333vw 30.9027777778vw;
      gap: 2.0833333333vw;
      margin: 0;
    }
  }

  &__orange-filter {
    background-color: $orange;
    border-radius: 0 20px 20px 0;

    @media only screen and (min-width: $tablet) {
      border-radius: 20px;
    }
  }

  &__keyboard-image-orange {
    border-radius: 0 20px 20px 0;
    mix-blend-mode: multiply;
    opacity: 0.75;

    @media only screen and (min-width: $tablet) {
      border-radius: 20px;
    }
  }

  &__keyboard-image-table {
    border-radius: 20px;
  }

  &__text {
    text-align: center;
    @media only screen and (min-width: $tablet) {
      display: flex;
      gap: 6.5104166667vw;
      text-align: left;
      margin: 9.375vw 0 0;
    }

    @media only screen and (min-width: $desktop) {
      gap: 1.875vw;
    }

    @media only screen and (min-width: $desktop) {
      flex-direction: column;
      flex-basis: 39.9305555556vw;
      margin: 6.3888888889vw 0 0;
    }
  }

  &__subheading {
    font-size: 8.5333333333vw;
    line-height: 9.6vw;
    max-width: 68vw;
    margin: 0 auto 6.4vw;

    @media only screen and (min-width: $tablet) {
      font-size: 4.1666666667vw;
      line-height: 4.6875vw;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 2.2222222222vw;
      line-height: 2.5vw;
      margin: 0;
    }
  }

  &__paragraph--mechanical {
    max-width: 87.2vw;
    margin: 0 auto 29.6vw;

    @media only screen and (min-width: $tablet) {
      max-width: 51.8229166667vw;
      margin: 15px 0 0;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.1111111111vw;
      line-height: 1.8055555556vw;
      max-width: unset;
    }
  }
}
/*----------------------------
      features section 
----------------------------*/
.features {
  margin: 29.6vw 6.4vw 25.6vw;
  text-align: center;

  @media only screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.8125vw;
    margin: 18.4895833333vw 5.2083333333vw;
    text-align: left;
  }

  @media only screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.0833333333vw;
    margin: 0 11.4583333333vw 8.8888888889vw;
  }

  &__feature {
    margin: 0 0 17.0666666667vw;

    @media only screen and (min-width: $tablet) {
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      max-width: 15.7638888889vw;
    }
  }

  &__icon {
    width: 17.3333333333vw;
    height: 17.3333333333vw;
    background: $orange no-repeat center;
    border-radius: 16px;
    margin: 0 auto;

    @media only screen and (min-width: $tablet) {
      width: 8.4635416667vw;
      height: 8.4635416667vw;
      margin: 0;
    }

    @media only screen and (min-width: $desktop) {
      width: 4.5138888889vw;
      height: 4.5138888889vw;
    }
  }

  &__icon--compatible {
    background-image: url(../assets/shared/icon-compatible.svg);
  }

  &__icon--bluetooth {
    background-image: url(../assets/shared/icon-bluetooth.svg);
  }

  &__icon--battery {
    background-image: url(../assets/shared/icon-battery.svg);
  }

  &__icon--light {
    background-image: url(../assets/shared/icon-light.svg);
  }

  &__heading {
    font-size: 6.4vw;
    line-height: 7.4666666667vw;
    margin: 12.8vw 6.4vw;

    @media only screen and (min-width: $tablet) {
      font-size: 3.125vw;
      line-height: 3.6458333333vw;
      margin: 5.2083333333vw 0 3.125vw;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 1.6666666667vw;
      line-height: 1.9444444444vw;
      margin: 2.7777777778vw 0 1.6666666667vw;
    }
    span {
      display: block;
    }
  }
}

/*----------------------------
      footer section 
----------------------------*/
.footer {
  margin: 0 0 50px;

  @media only screen and (min-width: $tablet) {
    margin: 5.5989583333vw;
  }

  @media only screen and (min-width: $desktop) {
    margin: 2.9861111111vw;
  }
  &__copyright {
    text-align: center;
    span {
      font-weight: 700;
    }
  }
}
